:html {
    background-color: #283141;
}
.fondoImagenLogin {
    padding: 1.875rem;
    height: 100vh;
    margin: 0;
    color: white;
    background-image: url("../../images/kevin-ku-aiyBwbrWWlo-unsplash.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}
.loginForm {
    background-color: #283141;
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.recuadro {
    border: 1px solid;
    border-radius: 1.25em;
    background-color: white;
    padding: 1.25em;
    max-width: 21.87em;
}

@media (max-width: 600px) {
    .fondoImagenLogin {
        display: none;
    }
    .loginForm {
        margin-top: 8rem !important;
        background-color: white;
    }
}